.my-footer{
	border-top: 1px solid #e5e5e5;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 100px;
	text-align: center;
}
.my-padding{
	padding-top: 40px;
	padding-bottom: 40px;
}
.my-sider{
	width: 262.5px
}
.affix {
	top: 20px;
}
