.my-footer{
	border-top: 1px solid #e5e5e5;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 100px;
	text-align: center;
}
.my-padding{
	padding-top: 40px;
	padding-bottom: 40px;
}
.my-sider{
	width: 262.5px
}
.affix {
	top: 20px;
}
.my-tab-content{
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	height: 300px;
	padding: 10px;
	overflow: auto;
}
.my_discussion{
	height: 210px;	
	overflow: auto;
}
.my_discussion_ipt{
	margin-top: 12px;	
}

body {
    background-color: #e4e4e2;
}